<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buy My Art Work!</title>
  {{!--Stylesheets--}}
  <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Wallpoet&display=swap"
      rel="stylesheet"
    />
        <link
      href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap"
      rel="stylesheet"
    />
  <link rel="stylesheet" href="/css/jass.css"/>
  <link rel="stylesheet" href= "/css/style.css"/>   
  
</head>
{{!--Start of main html rendering--}}
  <body>

  <div class="wrapper">
      <header class="hero">
        <h1 class = "h1-centre"><span class = "decorate">Art</span>isan Interspace</h1>
            <nav class"nav">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="/artboard" id = "artboard">Artboard</a>
                    {{#if loggedIn}}
                    <a class="link" href="/" id="logout">Logout</a>
                    {{/if}}
                </nav>                  
      </header>  
    
      </div>
        <div class = "sidebar">
   <img src="css/images/background.jpg" alt="picture of art gallery">
</div>  

    <main>

      <div class = "container">
      {{{ body }}}
      </div>
    </main>
  
</body>


</html>