<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buy My Art Work!</title>
  {{!--Stylesheets--}}
  <link rel="stylesheet" href="/css/jass.css"/>
  <link rel="stylesheet" href= "/css/style.css"/>   
</head>
{{!--Start of main html rendering--}}
  <body>
  <div class="wrapper">
      <header class="hero">
            <nav class"nav">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="./artboard">Artboard</a>
                    {{#if loggedIn}}
                    <a class="link" href="./logout" id="logout">Logout</a>
                    {{else}}
                    <a class="link" href="./login">Login</a>
                    {{/if}}
                    <a class = "link" href ="./signup">Artist Sign Up</a>
                </nav>                  
      </header>
      </div>

    <main>
      {{{ body }}}
    </main>
  
</body>


</html>