<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buy My Art Work!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href= "/css/style.css"/>   
</head>
<body>
  <body>
  <div class="wrapper">
      <header class="hero">
          <div>
            <nav class"nav">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="./artboard">Artboard</a>
                    {{#if loggedIn}}
                    <a class="link" href="/" id="logout">Logout</a>
                    {{else}}
                    <a class="link" href="./login">Login</a>
                    {{/if}}
                </nav>          
          </div>

          <h1 class="app-title"><i class="fab "></i>Artisan Interspace</h1>
      </header>

    <main>
      {{{ body }}}
    </main>
  </div>

    {{#if loggedIn}}
    <script src="/jss/logout.js"></script>
    {{/if}}
  
</body>


</html>