{{#if artisans.length}}
<section>
    <h2> Artisan Interspace</h2>
   <ul class = "artboard">
       {{#each artisan}}
       <li>{{this}}</li>
       {{/each}}
   </ul>
</section>
{{/if}}
<button type ="submit" class = 'btn'><a class ="link" href = "/artboard/new">+ New Post</a></button>
<script src = '../public/jss/art_post.js'></script>