{{#if artisans.length}}
<section>
    <h2> Artisan Interspace</h2>
   <ul class = "artboard">
       {{#each artisan}}
       <li>{{this}}</li>
       {{/each}}
   </ul>
</section>
{{/if}}
<script src = '/jss/artboard.js'></script>
<script src = '/jss/art_post.js'></script>
<script src = '/jss/logout.js'></script>