<div class="col-md-6">
    <h3 class="h3"><span class = "small">Create</span> New Art</h3>
    <form class ="card-body" id="art_post">
      <div class = "form-group">
        <label class="form-label">Name</label>
        <input type="text" id="artisan-name" name="artisan-name" class="form-input"  autofocus = "true"/>
    </div>
    <div class = "file-upload">
      <label class = "form-label">ArtWork</label>
      <input type = "file" id = "artisan_image" name = "artisan_image">
    </div>
      <div class = "form-group">
        <label class="form-label">Description</label>
        <input type="text" id="artisan-description" name="artisan-description" class="form-input"  autofocus = "true"/>
      </div>

        <div class = "form-group">
        <label class="form-label">Date Created</label>
        <input type="datetime" id="artisan-date_created" name="artisan-date_created" class="form-input"  autofocus = "true"/>
      </div>

      

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

<script src="/jss/art_post.js"></script>
