<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>New Artisan Post:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="artisan-name">Artisan name:</label>
        <input class="form-input" type="text" id="artisan-name" name="artisan-name" />
      </div>
      <div class="form-group">
        <label for="artisan-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="artisan-funding" name="arisan-funding" />
      </div>
      <div class="form-group">
        <label for="artisan-desc">description:</label>
        <textarea class="form-input" id="artisan-desc" name="artisan-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if artisans.length}}
  <div class="col-md-6 project-list">
    <h3>Latest Artwork:</h3>

    {{#each artisans as |artisan|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/artisan/{{artisan.id}}">{{artisan.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{artisan.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="../public/jss/profile.js"></script>
