<div class = 'card'>
    <h3 class = 'card-header'>Artist Sign Up</h3>
    <form id = 'signup-form'class = 'card-body'>
        <label for = 'user-signup' class = 'form-label'>Email</label>
        <input id = 'user-signup' text='text' class = 'form-input'/>
        <label class = 'form-label'
        for ='password-signup'> Password</label>
        <input id = 'password-signup' type ='password'
        class = 'form-input'/>
        <button type ="submit" class = 'btn'>Sign Up</button>
        <a class = 'login-link' href = "./login"> Log in instead</a>
    </form>
</div>
<script src="../public/jss/signup.js"></script>