body{
 
  background-image:linear-gradient(#baaa91, #f0eee9);
  padding: 0%;
  margin: auto;
}
.wrapper{

  background-image:linear-gradient(#baaa91, #f0eee9);
  padding: 0%;
  margin: auto;
  margin-top:20px;
 
}
.hero{
  padding:5px;
  position:inherit;
  font-size: 48px;
  font-family: 'Wallpoet', 'sans-serif';
  color: #5d473a;

}
.nav{
  padding:5px;
  position:fixed;
  margin-left:15px;
  max-width: 95%;
  max-height: 25%;
  font-size: 25px;
  font-family: 'Wallpoet';
  color: #5d473a;
  text-align: right;

}
.top-bar,.top-bar-right,.top-bar-left, .menu{
  color:#39373b;
  font-size: 16px;
  font-family: 'Wallpoet',sans-serif;
 
}
.sidebar {
  padding: 5px;
  margin-left: 15px;
  margin : auto;
  margin-top:0px;
  height: fit-content;
  width:fit-content;


}
img {
  max-width: 30%;
  height: auto;
  display: inline-flex;
}

.artisan{
  background-color:purple;

}
.art{
  background-color:orangered
}
.container{
  padding:10px;
  margin-top:0px;
  margin-left:300px;
  background-color: #39373b;
  max-height: fit-content;

}
.row{
 padding:10px;
 margin-top:0px;
 margin-left:300px;

}
.col-md-6{
  padding: 10px;
  position:inherit;
  background-image:linear-gradient(to bottom right, #ae9a64, #5d473a);


}
.table-art{
  background-color:white;

}
/*Style settings for all headers, fonts and text decorations for consistency*/
.decorate{
  font-family: 'Yellowtail', 'sans-serif';
  color:#ae9a64;
  font-size: 65px;

}
.h1-centre{
  padding-top: 15px;
  font-family: 'Wallpoet', 'sans-serif';
  font-size: 40px;
  text-align: center;

}
.h1{
  padding-top:15px;
  font-family: 'Wallpoet', 'sans-serif';
  font-size: 40px;

}
.h2{
  padding-top:15px;
  font-family: 'Wallpoet', 'sans-serif';
  font-size: 35px;

}
.h3{
  padding-top: 10px;
  font-family: 'Wallpoet', 'sans-serif';
  font-size: 28px;

}
.p{
  padding-top:5px;
  font-family: 'Wallpoet', 'sans-serif';
  font-size: 14px;
  text-align: justify;

}
/*Style settings for all cards for consistency*/
.card-body{
  padding: 10px;
  position:inherit;
 background-image:linear-gradient(to bottom right, #ae9a64, #5d473a);

}
.card-header{
 

}
/*Style settings for all forms for consistency*/
.form-group{
 
  

}
.form-input{
background-color: yellow
}
.form-label{
  background-color:red;

}