body{
  background-image: url('./images/background.jpg');
  background-size: cover;
  padding: 0%;
  margin: auto,
}
.wrapper{
  background-color:  #5d473a;
 
}
.artisan{
  background-color:  #5d473a;

}
.art{
  background-color: #ac7654
}