body{
  background-image: url('./images/background.jpg');
  background-size: cover;
  padding: 0%;
  margin: auto,
}
.wrapper{
  background-color:  #5d473a;
 
}
.artisan{
  background-color:purple;

}
.art{
  background-color:orangered
}
.container{
  background-color: blue;

}
.row{
  background-color: yellowgreen;

}
.col-md-6{
background-color: grey;


}
.table-art{
  background-color:white;

}
/*Style settings for all headers, fonts and text decorations for consistency*/
.decorate{
  font-family: 'Yellowtail', 'sans-serif';
  color:#ae9a64;
  font-size: 65px;

}
.h1-centre{
  font-family: 'Wallpoet', 'sans-serif';
  font-size: 45px;
  text-align: center;

}
.h1{
  font-family: 'Wallpoet', 'sans-serif';
  font-size: 45px;

}
.h2{
  font-family: 'Wallpoet', 'sans-serif';
  font-size: 35px;

}
.h3{
  font-family: 'Wallpoet', 'sans-serif';
  font-size: 28px;

}
.p{
  font-family: 'Wallpoet', 'sans-serif';
  font-size: 14px;
  text-align: justify;

}
/*Style settings for all cards for consistency*/
.card-body{
  background-color: aqua;

}
.card-header{
  background-color: antiquewhite;

}
/*Style settings for all forms for consistency*/
.form-group{
  background-color: blueviolet

}
.form-input{
background-color: yellow
}
.form-label{
  background-color:red;

}